/* Style for product */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 600px;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 40px;
  width: 400px;
  box-shadow: #cac3c3 0rem 0rem 0rem 0.1rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  display: flex;
  float: left;
}
input[type='tel']{
  border: 1px solid #ccc;
  padding: 9px;
  border-radius: 4px;
  font-size: auto;
}
textarea{
  resize: none;
  font-size: 0.6rem;
  border-radius: 5px;
  margin-bottom: auto;
  
}

select,
input[type='number'],
input[type='text'],
input[type='file'],
input[type='tel']:focus {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

select:focus,
textarea,:focus,
input[type='number']:focus,
input[type='text']:focus,
input[type='file']:focus,
input[type='tel']:focus {
  outline: none;
  border-color: #080d11;
}

button {
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: #282c31;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #021e3b;
  /* font-size: 1rem; */
  transition: all 0.2s ease 0.2s;
}

input[type='file'] {
  border: none;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  margin-top: 10px;
}

select:hover,
input[type='number']:hover,
input[type='text']:hover,
input[type='tel']:hover {
  outline: none;
  border-color: #3b4f5f;
  font-size: 1rem;
  transition: all 0.2s ease 0.2s;
  border-color: #bacad8;
  box-shadow: #9badbb 1px 1px 1px 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
textarea:hover{
  outline: none;
  transition: all 0.2s ease 0.2s;
  border-radius: 3px;
  border-color: #bacad8;
  box-shadow: #9badbb 1px 1px 1px 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

      /* For screens smaller than 480px (such as smartphones) */
      @media screen and (max-width: 480px) and (min-width: 0px) {
        body {
          background-color: #011224;
          width: auto;
          margin-left: auto;
          margin-right: auto;
          
        }
      
        div.container {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 250px;    
          height: 100%;
          margin-top: 4rem;
          margin-left: 0.1rem;
          margin-bottom: 2rem;
          border-radius: 20px;
          font-weight: bold;
          font-family: sans-serif;
          background-color: #f5f5f5;
          /* box-shadow: #cac3c3 0rem 0rem 0rem 0.1rem;     */
          box-shadow: #427491 2px 1px 20px 6px;

        }
      
        select,
        textarea,
        input[type='number'],
        input[type='text'],
        input[type='file'],
        input[type='tel'] {
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
          width: 200px;
        }
      
        h1 {
          text-align: center;
          font-size: 20px;
        }
      
        form {
          display: flex;
          flex-direction: column;
          transition: all 0.3s ease-in-out;
        }
      
        form:hover {
          transition: all 0.3s ease;
        }
      
        label {
          margin-top: 10px;
        }
      select{
        width: auto;
      }
        select,
        textarea,
        input[type='number'],
        input[type='text'],
        input[type='file'],
        input[type='tel']:focus {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-top: 5px;
        }
      
        select:focus,
        textarea:focus,
        input[type='number']:focus,
        input[type='text']:focus,
        input[type='file']:focus,
        input[type='tel']:focus {
          outline: none;
          border-color: #080d11;
        }
      
        button {
          width: 130px;
          padding: 8px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 0.6rem;
          background-color: #282c31;
          color: #fff;
          border: none;
          cursor: pointer;
          font-size: 0.8rem;
        }
      
        button[type='submit'] {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          font-size: 8px;
          float: right;
        }
      
        button:hover {
          background-color: #021e3b;
          font-size: 0.6rem;
          transition: all 0.2s ease 0.2s;
        }
      
        input[type='file'] {
          border: none;
          cursor: pointer;
          border: 1px solid #ccc;
          padding: 6px;
          border-radius: 4px;
          margin-top: 10px;
          font-size: 8px;
        }
      
        select:hover,
        textarea:hover,
        input[type='number']:hover,
        input[type='text']:hover,
        input[type='tel']:hover {
          outline: none;
          border-color: #3b4f5f;
          font-size: 1rem;
          transition: all 0.2s ease 0.2s;
          border-color: #bacad8;
          box-shadow: #9badbb 1px 1px 1px 3px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        }
      }


@media screen and (min-width: 481px) and (max-width: 850px) {
  body {
    background-color: #282c31;
  }

  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: #cac3c3 0rem 0rem 0rem 0.1rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 2rem;
  }

  button {
    width: auto;
    padding: 8px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #282c31;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
  }

  label {
    display: flex;
    float: left;
  }


  h1 {
    text-align: center;
    font-size: 20px;
  }


  input[type='file'] {
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 4px;
    margin-top: 10px;
  }
}
