table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  input[type="submit"] {
    float: right;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem; 
    margin-right: 1rem;
    width: 10rem;
    color: white;
    background-color:  #142c15;
    transition: all 0.6s ease 10ms;
  }
  input[type='submit']:hover {
    background-color: #3e8e41;
    color: black;
    font-size: 1rem;
    
  }